<div id="<%= dom_id person %>">
  <p>
    <strong>Name:</strong>
    <%= person.name %>
  </p>

  <p>
    <strong>Contact number:</strong>
    <%= person.contact_number %>
  </p>

  <p>
    <strong>City:</strong>
    <%= person.city %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= person.address %>
  </p>
  <%= image_tag person.vehicle_photo>

</div>
