<div class="nested-fields">
    <%= f.label "vehicle number" %>
    <%= f.text_field :vehicle_number %>

    <%= f.label "owner name" %>
    <%= f.text_field :owner_name%>
    <%= link_to_remove_association "Delete", f %>
  </div>